# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Data
*.data
*.data2
*.data3
*.co
*.edge
*.csv

# Misc
*.vcxproj.user
*.txt
*.vcxproj
*.vcxproj.filters
*.sln
*.json
*.editorconfig
*.suo
*.db
*.ipch
*.suo
*log
*build*
*build
*.pdb
*Copy*
*11142020*
*.obj*
*.recipe
*.exe*
*.ilk
*.enc
*.sqlite
*.idb
CCode

# Folders
In/
Out/
.git/
